*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'TTRegular';
    src: url('../fonts/TTCommonsRegular.otf') format('opentype');
}
@font-face {
    font-family: 'TTBold';
    src: url('../fonts/TTCommonsBold.otf') format('opentype');
}
@font-face {
    font-family: 'ObjetBold';
    src: url('../fonts/ObjetBold.otf') format('opentype');
}

:root{
    --primary:#ff671f;
    --secondary:#120949;
    --letters:#272727;
}

.no_margin{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

#titulo{
    border-bottom: 1px solid var(--primary);
}

.TTBold_32{
    font-size: 32px;
    font-family: 'TTBold',sans-serif;
}

.TTRegular_14{
    font-size: 14px;
    font-family: 'TTRegular',sans-serif;
}

.ObjetBold_50{
    font-size: 50px;
    font-family: 'ObjetBold',sans-serif;
    color: white;
}

.bt_filter{
    background-color: #ffffff00;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.bt_filter:hover{
    background-color: #11094936;
}

.bt_filter img{
    width: 24px;
    height: 24px;
}



.titulo_seccion{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion_seccion{
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.producto{
    width: 500px;
    height: 210px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    position: relative;
}

.imagen_producto{
    height: 135px;
}

.nombre_producto{
    color: var(--letters);
    font-size: 14px;
    font-family: 'TTDemiBold',sans-serif;
    text-align: right;
}

.entero{
    color: var(--letters);
    font-size: 25px;
    font-family: 'TTBold',sans-serif;
}

.decimal{
    color: var(--letters);
    font-size: 16.8px;
    font-family: 'TTBold',sans-serif;
}

.entero_sinIVA{
    font-size: 20px;
    font-family: 'TTBold',sans-serif;
    color: #707070;
}

.decimal_sinIVA{
    font-size: 14.4px;
    font-family: 'TTBold',sans-serif;
    color: #707070;
}

.bt_compra{
    background-color: #120949;
    height: 40px;
    width: 40px;
}

.bt_pedido{
    position: absolute;
    left: 88%;
    top: 75%;
}

.bt_compra span{
    position: absolute;
    color: white;
    bottom:20px;
    left: 30px;
    font-family: 'TTRegular',sans-serif;
}

.icono_compra{
    height: 26px;
    position: absolute;
    bottom:5px;
    right: 10px;
}

@media (max-width: 768px){
    .ObjetBold_50{
        font-size: 35px;
    }
}

@media (max-width: 550px){
	.imagen_producto{
		height: 100px;
	}
}

@media (max-width: 450px){
	.bt_pedido{
		position: absolute;
		left: 82%;
		top: 75%;
	}
	.sin_iva{
		display: none;
	}
}
/* clase que se usa para el filtro de categorias */
.noneCat{
    display: none;
}

/* CARTA ADMIN */

.product_img{
    height:50px;
    width:auto;
}

.bt_eliminar{
    background-color: #6a6a6a;
}


@media (max-width: 992px){
    .del{
        display: none;
    }
}
