@font-face {
    font-family: 'TTRegular';
    src: url('../fonts/TTCommonsRegular.otf') format('opentype');
}
@font-face {
    font-family: 'TTBold';
    src: url('../fonts/TTCommonsBold.otf') format('opentype');
}
@font-face {
    font-family: 'TTMedium';
    src: url('../fonts/TTCommonsMedium.otf') format('opentype');
}
@font-face {
    font-family: 'TTDemiBold';
    src: url('../fonts/TTCommonsDemiBold.otf') format('opentype');
}


:root{
    --primary:#ff671f;
    --secondary:#120949;
}

.titulo{
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.nada_seleccionado h2{
    font-size: 22px;
    color: var(--primary);
    font-family: 'TTRegular',sans-serif;
}

.nada_seleccionado p{
    font-size: 19.2px;
    font-family: 'TTRegular',sans-serif;
    color: #272727;
}

.nada_seleccionado p a{
    text-decoration: none;
    color: var(--primary);
}

.nada_seleccionado p a:hover{
    text-decoration: underline;
}

.titulo h2{
    font-size: 32px;
    font-family: 'TTBold',sans-serif;
}

.titulo section img{
    height: 24px;
}

.paper_bin{
    background-color: #ffffff00;
    height: 95%;
    border: none;
}

.div_bin:hover{
    background-color: rgba(0, 0, 0, 0.096);
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.table tr th{
    font-size: 18px;
    font-family: 'TTMedium',sans-serif;
    color: var(--primary);
}

.col_2{
    visibility: hidden;
}

table tr td{
    font-size: 14px;
    font-family: 'TTRegular',sans-serif;
}

.imagen_producto{
    display: flex;
    justify-content: center;
}

.nombre_producto{
    font-size: 20px;
    padding-left: 16px;
    font-family: 'TTRegular',sans-serif;
    height: 100px;
    border-left: 1px solid rgba(0,0,0,.12);
}

.imagen_producto img{
    height: 100px;
}

.bt_eliminarProducto{
    border: none;
    background-color: #ffffff00;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.bt_eliminarProducto:hover{
    background-color: #ff661f2a;
}

.cantidad{
    width: 152px;
}

.cantidad button{
    background-color: #ffffff00;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: none;
}

.cantidad button:hover{
    background-color: #ff661f2a;
}

.cantidad button img{
    width: 16px;
}

.cantidad input{
    width: 90px;
    padding: 8px 16px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,.24);
    text-align: right;
}

.metodo_pago{
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    border-radius: 4px;
}

.metodo_pago h3{
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.metodo_pago label img, .metodo_pago label input{
    height: 24px;
    width: 24px;
}

.metodo_pago label input:checked{
    color: var(--primary);
}

.precio_total{
    background-color: #1d1d1d;
    border-radius: 4px;
}

.precio_total span span:first-child, .precio_total span span:nth-child(2){
    color: #fff;
    font-size: 14px;
    font-family: 'TTDemiBold',sans-serif;
}

.underline{
    border-bottom: 1px solid #ffffff3f
}

.precio_total span span:nth-child(2){
    color: #ffffffbd;
}

.precio_total span:nth-child(3) span{
    color: #fff;
    font-size: 24px;
    font-family: 'TTDemiBold',sans-serif;
}

.precio_total span:nth-child(3) span:nth-child(2){
    color: #ffffffbd;
}

/* Boton que valida el pedido */
.validar_pedido{
    position: relative;
    border-radius: 4px;
    border: none;
    background-color: var(--primary);
    font-family: 'TTMedium',sans-serif;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.validar_pedido::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.validar_pedido:hover::before {
    opacity: 0.2;
}

@media (max-width: 800px){
    .col_1{
        display: none;
    }

    .col_2{
        visibility: visible;
    }

    .imagen_producto{
        display: none;
    }

    .nombre_producto{
        border-left: none;
        padding-left: 0px;
        font-size: 16px;
        margin-left: 0;
    }
}

@media (max-width: 600px){
    .nombre_producto{
        font-size: 14px;
    }
}