@font-face {
  font-family: 'TTBold';
  src: url('../fonts/TTCommonsBold.otf') format('opentype');
}

:root{
  --primary:#ff671f;
  --secondary:#120949;
}

#titulo{
  width: 92%;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 12px;
}

.TTBold_32{
  font-size: 32px;
  font-family: 'TTBold',sans-serif;
}

.reviewButton{
  position: fixed;
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 0 100%, 25% 50%, 0 0);
  padding: 12px;
  width: 100px;
  left: 94%;
  top: 18%; 
  background-color: var(--secondary);
  z-index: 0; /* Para que desaparezca debajo del footer*/
}

.createReviewContainer:nth-of-type(2) .reviewButton{
  top: 30%;
}

.createReviewContainer:nth-of-type(3) .reviewButton{
  top: 42%;
}

#reviewTextArea{
  width: 450px;
  height: 150px;
  border: 1px solid #dcdcdc;
}

.reviewIcon{
  height: 32px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: var(--primary);
    transition: color 0.3s;
  }

  #container_reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 92%;
  }

  .reviewCard{
    display: flex;
    flex-direction: column;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    margin: 12px 0;
    padding: 8px 26px;
    width: 100%;
  }

  .reviewTop{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dcdcdc;
  }

  .reviewTopLeft{
    display: flex;
  }

  .star {
    font-size: 28px; /* Tamaño de la estrella */
    color: var(--primary);
}

@media (max-width: 1200px){
 .reviewButton{
    left: 92%;
  }
}
@media (max-width: 1000px){
 .reviewButton{
    left: 90%;
  }
}
@media (max-width: 800px){
 .reviewButton{
    left: 88%;
  }
}
@media (max-width: 600px){
 .reviewButton{
    left: 86%;
  }
}